{% extends 'base.html.twig' %}

{% block title %}Mes commandes
{% endblock %}

{% block content %}
	<h1 class="text-light">Mes commandes</h1>
	<span class="fs-5 text-light">C'est dans cette espace que vous allez pouvoir gérer toutes vos commandes</span><br>
	<a href="{{ path('app_account') }}" class="text-decoration-none">
		<i class="bi bi-arrow-bar-left"></i>
		Retour</a>
	<hr class=" text-danger">


	{% if app.user.commandes|length == 0 %}
		<p class="text-start text-light">
			Vous n'avez pas encore de commande sur le grand bazar ...<a href="{{ path('app_shop') }}" class="text-decoration-none">
				aller vers le shop</a>
		</p>
	{% else %}

		<table class="table table-dark table-striped mt-4 text-center">
			<thead>
				<tr class="fs-5 text-info m-2">
					<th>N° référence</th>
					<th>Passée le</th>
					<th>Prix total (€)</th>
					<th></th>
				</tr>
			</thead>
			<tbody class="fs-6">
				{% for commande in app.user.commandes %}
					<tr>
						<td>ref{{ random() * 10*10|number_format(0,'','') }}</td>
						<td>{{ commande.creatAt|date('d/m/Y') }}</td>
						<td>{{ commande.prixTotal }}
							€</td>
						<td>
							<a href="{{ path('account_commande_show', { 'id' : commande.id }) }}" class="text-success text-decoration-none">Voir la commande</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>


	{% endif %}

{% endblock %}
