{% extends 'base.html.twig' %}

{% block title %}
	{{products.name}}
{% endblock %}

{% block content %}
	<div class="container d-flex justify-content-center align-items-center" style="height: 50vh;">
		<div class="row text-light">
			<div class="col-md-4">
				<img src="/assets/images/uploads/{{products.image}}" alt="{{products.name}}" class="img-fluid">
			</div>
			<div class="col-md-8 my-auto">
				<h3>
					{{products.name}}
				</h3>
				<p>
					{{ products.titre }}
				</p>
				<span class="fs-5">{{ (products.price / 100)|number_format(2, ',' , '.')}}
					€</span>
				<hr>
				<p class="fs-6">
					{{products.description}}
				</p>
				<a href="{{ path('add_to_cart', {'id' : products.id}) }}" class="btn btn-primary mt-3">Ajouter au panier</a>
			</div>

		</div>
	</div>

{% endblock %}
